input {
    padding: 0 var(--space-sm);
    color: var(--gray-700);
    height: var(--space-lg);    
}

select { 
    background-color: var(--gray-100);
    color: var(--gray-700);
    border: 1px solid var(--gray-300);
    padding: var(--space-sm);
    font-size: 16px;
}

select option:hover {
    background-color: var(--red-700);
    color: var(--white);
}

input[type="checkbox"] {
    all: unset;
    background-image: url("../../img/uncheck.svg");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin-right: var(--space-sm);
}

input[type="checkbox"]:checked {
    background-image: url("../../img/check.svg");
}

.checkboxs {
    border: none;
}