
.input_default {
    height: var(--space-lg);
    width: 300px;
    padding: 0 var(--space-sm);
    color: var(--gray-500);
}

.select_default {
    width: 300px;
}

.input_bid {
    width: 105px;
    height: 50px;
}