{% extends "base.html" %}

{% block title %}Faire une Offre{% endblock %}

{% block main %}

    <main>

        <section class="create">
            <h1 class="title">Faire une Offre - Lot #{{data[0].id}}</h1>
            {% include 'message.html' %}
            <form action="{{path_root}}public/auction/store" method="post">
                <input type="hidden" name="user_id" value="{{ session.user_id }}">
                <input type="hidden" name="status_id" value="1">

                <label for="stamp">Timbre</label>
                <select name="stamp_id" id="stamp" class="select_default" required>
                    <option value="">Sélectionner</option>
                    {% if stamps|length > 0 %}
                        {% for stamp in stamps %}
                            <option value="{{ stamp.id }}"
                            {% if data|length > 0 %} 
                                {% if data.stamp_id == stamp.id %} selected {% endif %}
                            {% endif %}
                            >
                            {{ stamp.title }}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                <label for="price">Prix</label>
                <input type="text" class="input_default" name="price" id="price" placeholder="Prix" value="{{data.price}}" required>

                <label for="date_start">Date Initiale</label>
                <input type="date" class="input_default" name="date_start" id="date_start" placeholder="Date Initiale" value="{{data.date_start}}" required>                

                <label for="date_end">Date Finale</label>
                <input type="date" class="input_default" name="date_end" id="date_end" placeholder="Date Finale" value="{{data.date_end}}" required>

                <div class="buttons">
                    <button type="submit" class="bt bt-md bt-bg-red"><span class="material-icons">add_circle</span>Ajouter</button>
                    <button type="button" class="bt bt-md2 bt-bd-gray" value="Annuler" onclick="goTo('{{path_root}}public/auction/myauctions')"><span class="material-icons">do_disturb_on</span>Annuler</button>
                </div>
            </form>
        </header>

    </main>

{% endblock %}
