{% extends "base.html" %}

{% block title %}Ajouter une Enchère{% endblock %}

{% block main %}

    <main>

        <section class="create">
            <h1 class="title">Ajouter une Enchère</h1>
            {% include 'message.html' %}
            <form action="{{path_root}}public/auction/store" method="post">
                <input type="hidden" name="user_id" value="{{ session.user_id }}">
                <input type="hidden" name="status_id" value="1">

                <label for="state">Timbre</label>
                <select name="state_id" id="state" class="select_default" required>
                    <option value="">Sélectionner</option>
                    {% if stamps|length > 0 %}
                        {% for stamp in stamps %}
                            <option value="{{ stamp.id }}">{{ stamp.title }}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                <label for="price">Prix</label>
                <input type="text" class="input_default" name="price" id="price" placeholder="Prix" required>

                <label for="date_start">Date Initiale</label>
                <input type="date" class="input_default" name="date_start" id="date_start" placeholder="Date Initiale" required>                

                <label for="date_end">Date Finale</label>
                <input type="date" class="input_default" name="date_end" id="date_end" placeholder="Date Finale" required>

                <button type="submit" class="bt bt-md bt-bg-red">
                    <span class="material-icons">send</span>Envoyer
                </button>
            </form>
        </header>

    </main>

{% endblock %}
