{% extends "base.html" %}

{% block title %}Enchères{% endblock %}

{% block main %}

    <main>

        <aside class="filter">

            <section class="mode_show">
                <h1>Mode d'affichage</h1>
                <div class="buttons">
                    <button type="button" class="bt bt-x2 bt-bg-gray-700"><i class="material-icons">view_list</i></button>
                    <button type="button" class="bt bt-x2 bt-bg-gray-700"><i class="material-icons">view_module</i></button>
                </div>
            </section>
            <section class="search_lot">
                <h1>Numéro de lot</h1>
                <div action="#" method="post">
                    <input type="text" class="rechercher" name="lot" aria-label="lot" placeholder="Nombre">
                    <button type="submit" class="bt bt-x2 bt-bg-gray-700"><i class="material-icons">search</i></button>
                </div>
            </section>
            <section class="select_country">
                <h1>Choisissez un pays</h1>
                <select name="country" aria-label="country">
                    <option value="0">Sélectionner</option>
                    <option value="1">Canada</option>
                    <option value="2">Etats-Unis</option>
                    <option value="2">France</option>
                </select>
            </section>
            <section class="timbre_status">
                
                <fieldset class="checkboxs">
                    <legend><h1>Statut du timbre</h1></legend>
                    <label><input type="checkbox" name="state" value="1">Neuf</label>
                    <label><input type="checkbox" name="state" value="1">Sous Neuf</label>
                    <label><input type="checkbox" name="state" value="1">Usagé</label>
                    <label><input type="checkbox" name="state" value="1">Endommagé</label>
                </fieldset>
            </section>
            <section class="auction_status">
                
                <fieldset class="checkboxs">
                    <legend><h1>Statut des Enchères</h1></legend>
                    <label><input type="checkbox" name="status" value="1">En cours</label>
                    <label><input type="checkbox" name="status" value="1">Terminé</label>
                </fieldset>
            </section>

        </aside>

        <section class="article_list">
            <h1 class="title">Catalogue</h1>
            {% include 'message.html' %}
            <!-- Le remplacement de la classe "card" par "list" modifie le mode d'affichage de la liste des enchères. -->
            <div class="container list">
                <!-- Si vous ajoutez la classe "invisible", les favoris ne seront plus affichés. -->
                 <section class="favorites">
                    <h1 class="favorites_title">Favoris</h1>
                    {% if favorites|length > 0 %}
                        {% for favorite in favorites %}
                            <article>
                                <figure>
                                    <img src="{{path_root}}public/assets/stamp/{{favorite.stamp_id}}/{{favorite.file_name}}" alt="Timbre">
                                </figure>
                                <h1>{{favorite.title}}</h1>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Lot #</th>
                                            <th>Vl. Initiale</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{favorite.id}}</td>
                                            <td>{{favorite.price}} $</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th>Offre Actuelle</th>
                                            <th>Fermeture</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{favorite.best_bid}} $</td>
                                            <td>{{favorite.date_end}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% if favorite.user_id != session.user_id %}
                                    <footer>
                                    <form action="{{path_root}}public/auction/bid" method="post">
                                        <input type="hidden" name="user_id" value="{{ session.user_id }}">
                                        <input type="hidden" name="auction_id" value="{{favorite.id}}">
                                        <div class="container_bid">
                                            <input type="text" class="input_bid" id="bid" name="value" placeholder="$">
                                            <button type="submit" class="bt bt-md2 bt-bg-red"><span class="material-icons">beenhere</span>Mise</button>
                                        </div>
                                    </form>
                                    <form action="#" method="post">
                                        <input type="hidden" name="user_id" value="{{ session.user_id }}">
                                        <input type="hidden" name="auction_id" value="{{favorite.id}}">
                                        <button type="submit" class="bt bt-md bt-bd-gray btn-favorite"><span class="material-icons">remove_circle</span>Enlever des favoris</button>
                                    </form>
                                    </footer>                            
                                {% endif %}                        
                            </article>
                        {% endfor %}
                    {% endif %}
                </section>
                
                {% if auctions|length > 0 %}
                    {% for auction in auctions %}
                    <article>
                        <figure>
                            <img src="{{path_root}}public/assets/stamp/{{auction.stamp_id}}/{{auction.file_name}}" alt="Timbre">                            
                        </figure>
                        <h1>{{auction.title}}</h1>
                        <table>
                            <thead>
                                <tr>
                                    <th>Lot #</th>
                                    <th>Vl. Initiale</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{auction.id}}</td>
                                    <td>{{auction.price}} $</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th>Offre Actuelle</th>
                                    <th>Fermeture</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{auction.best_bid}} $</td>
                                    <td>{{auction.date_end}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <footer>
                            {% if auction.user_id != session.user_id %}
                            <form action="{{path_root}}public/auction/bid" method="post">
                                <input type="hidden" name="user_id" value="{{ session.user_id }}">
                                <input type="hidden" name="auction_id" value="{{auction.id}}">
                                <div class="container_bid">
                                    <input type="text" class="input_bid" id="bid" name="value" placeholder="$">
                                    <button type="submit" class="bt bt-md2 bt-bg-red"><span class="material-icons">beenhere</span>Mise</button>
                                </div>
                            </form>
                            
                                {% if auction.id not in favorites %}
                                    <form action="{{path_root}}public/auction/addfavorite" method="post">
                                        <input type="hidden" name="user_id" value="{{ session.user_id }}">
                                        <input type="hidden" name="auction_id" value="{{auction.id}}">
                                        <button type="submit" class="bt bt-md bt-bd-gray btn-favorite"><span class="material-icons">favorite</span>Ajouter aux favori</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                            
                        </footer>
                    </article>
                    {% endfor %}
                {% endif %}                
            </div>        

            <div class="pagination">
                <button type="button" class="bt bt-x3 bt-bg-red"><i class="material-icons">navigate_before</i></button>
                <button type="button" class="bt bt-x3 bt-bg-red"><i class="material-icons">first_page</i></button>
                <button type="button" class="bt bt-x3 bt-bg-gray"><i class="material-icons">looks_one</i></button>
                <button type="button" class="bt bt-x3 bt-bg-red"><i class="material-icons">looks_two</i></button>
                <button type="button" class="bt bt-x3 bt-bg-red"><i class="material-icons">looks_3</i></button>
                <button type="button" class="bt bt-x3 bt-bg-red"><i class="material-icons">looks_4</i></button>
                <button type="button" class="bt bt-x3 bt-bg-red"><i class="material-icons">looks_5</i></button>
                <button type="button" class="bt bt-x3 bt-bg-red"><i class="material-icons">last_page</i></button>
                <button type="button" class="bt bt-x3 bt-bg-red"><i class="material-icons">navigate_next</i></button>
            </div>

        </section>

    </main>

{% endblock %}