{% extends "base.html" %}

{% block title %}Mes Enchères{% endblock %}

{% block main %}

    <main>

        <section class="index_list">
            <h1 class="title">Mes Enchères</h1>
            <table>
                <tr class="index_list-title">
                    <th>image</th>
                    <th>lot #</th>
                    <th>titre</th>
                    <th>pays</th>
                    <th>state</th>
                    <th>date initiale</th>
                    <th>date finale</th>
                    <th>prix</th>
                    <th>status</th>
                    <th colspan="3">                
                        <a href="{{path_root}}public/auction/create" class="bt bt-md bt-bg-red">
                            <span class="material-icons">add_circle</span>Ajouter
                        </a>
                    </th>
                </tr>
                {% if auctions|length > 0 %}
                    {% for auction in auctions %}
                        <tr class="index_list-datas">
                            {% if auction.file_name == null %}
                                <td><img src="{{path_root}}public/assets/img/no-image.png" alt="stamp"></td>
                            {% else %}
                                <td><img src="{{path_root}}public/assets/stamp/{{auction.stamp_id}}/{{auction.file_name}}" alt="stamp"></td>
                            {% endif %}

                            <td>{{ auction.id }}</td>
                            <td>{{ auction.name }}</td>
                            <td>{{ auction.country }}</td>
                            <td>{{ auction.state }}</td>
                            <td>{{ auction.date_start }}</td>
                            <td>{{ auction.date_end }}</td>
                            <td>{{ auction.price }}</td>
                            <td>{{ auction.status }}</td>
                            <td>
                                <a href="{{path_root}}public/auction/addimage/{{ auction.id }}" class="bt bt-md2 bt-bd-gray"><i class="material-icons">add_photo_alternate</i></a>
                            </td>
                            <td>
                                <a href="{{path_root}}public/auction/edit" class="bt bt-md2 bt-bd-gray"><i class="material-icons">edit_square</i></a>
                            </td>
                            <td>
                                <form action="{{path_root}}public/auction/delete" method="post">
                                    <button type="submit" class="bt bt-md2 bt-bd-gray"><i class="material-icons">remove_circle</i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td class="no_date" colspan="10">Il n'y a aucune donnée à afficher.</td>
                </tr>
                {% endif %}
            </table>
        </header>

    </main>

{% endblock %}
