.my_auctions {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--space-md);
    height: 59vh;
}

.my_auctions h1 {
    margin-bottom: var(--space-md);
}

.my_actions-title > th {
    color: var(--white);
    background-color: var(--gray-500);
}

.my_actions-timbre {
    width: 80px;
    height: 100px;
}