.index_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--space-md);
    height: 59vh;
}

.index_list h1 {
    margin-bottom: var(--space-md);
}

.index_list-title th {
    color: var(--white);
    background-color: var(--gray-500);
}

.index_list-datas td {
text-align: center;
}

.no_date{
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}