{% extends "base.html" %}

{% block title %}Details{% endblock %}

{% block main %}

    <main>

        <section class="auction_detail">
            <h1 class="title">Enchère</h1>
            {% include 'message.html' %}
            <div class="image">
                <figure>
                    <img src="../../assets/img/timbre1.png" alt="Timbre 1">                            
                </figure>
                <footer class="carousel">
                    <button type="button" class="bt bt-sm bt-bg-red"><i class="material-icons">navigate_before</i></button>                        
                    <img src="../../assets/img/timbre2.png" alt="Timbre 1">
                    <img src="../../assets/img/timbre3.png" alt="Timbre 1">
                    <img src="../../assets/img/timbre4.png" alt="Timbre 1">
                    <img src="../../assets/img/timbre5.png" alt="Timbre 1">
                    <button type="button" class="bt bt-sm bt-bg-red"><i class="material-icons">navigate_next</i></button>
                </footer>
            </div>
            <aside class="info">
                
                <p class="info_lot">Lot # 3452</p>
                <p class="info_title">Titre du Timbre Lord Stampee</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptatum suscipit ducimus incidunt debitis, omnis repellendus velit earum facilis odio id sunt eum nulla similique? Voluptate et reiciendis perspiciatis error! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi similique possimus aut quidem debitis perspiciatis perferendis voluptatum soluta maxime quaerat quod ratione, doloremque nisi accusamus quae, neque corrupti quos hic.</p>
            
                <table class="info_table">     
                    <tr>
                        <th>Vl. Initiale</th>
                        <th>Vl. Attendue</th>
                    </tr>
                    <tr>
                        <td>300.00 $</td>
                        <td>500.00 $</td>
                    </tr>
                    <tr>
                        <th>Offre Actuelle</th>
                        <th>Fermeture</th>
                    </tr>
                    <tr>
                        <td>149.00 $</td>
                        <td>2023-11-23</td>
                    </tr>
                    <tr>
                        <th>Pays</th>
                        <th>Statut</th>
                    </tr>
                    <tr>
                        <td>Angleterre</td>
                        <td>Neuf</td>
                    </tr>                    
                </table>

                <footer class="info_buttons">
                    <a href="#" class="bt bt-md bt-bg-red"><span class="material-icons">beenhere</span>Faire une offre</a>
                    <a href="#" class="bt bt-md bt-bd-gray"><span class="material-icons">favorite</span>Ajouter aux favori</a>
                </footer>

            </aside>

        </section>

    </main>

{% endblock %}