{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}

    <main>
        
        <section class="login">
            <h1 class="title">Login</h1>
            {% include 'message.html' %}
            <form action="{{path_root}}public/user/auth" method="post">
                <label for="email">Utilisateur</label>
                <input type="email" class="input_default" name="email" id="email" placeholder="Utilisateur">
                <label for="password">Mot de passe</label>
                <input type="password" class="input_default" name="password" id="password" placeholder="Mot de passe">
                <button type="submit" class="bt bt-md bt-bg-red">
                    <span class="material-icons">send</span>Connecter
                </button>
            </form>
        </header>

    </main>

{% endblock %}
