.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--space-md);
    /* justify-content: space-evenly; */
}

article {
    border: 1px solid var(--gray-100);
}

article:hover {
    background-color: var(--gray-100);
    cursor: pointer;
}

article > h1 {
    margin-left: 10px;
    color: var(--gray-700);
}

/* affichage du format de carte */

.card article {
    width: 230px;
    margin: var(--space-md);
    padding: var(--space-ss);
}

.card article > figure {
    display: flex;
    width: auto;
    height: 240px;
    justify-content: center;
}

.card article > h1 {
    font-family: var(--font-fredoka);
    font-size: var(--font-md);
    margin: var(--space-ss) 0;
}

.card table {
    width: 100%;
    margin-bottom: var(--space-ss);
}

.card tr > th {
    color: var(--gray-500);
    padding: var(--space-sm) 0;
}

.card tr > td {
    text-align: center;
}

.card footer > a:last-child {
    margin-top: var(--space-ss);
}

/* affichage du format de liste */

.list article {
    display: flex;
    width: 100%;
    padding: var(--space-md);
    align-items: center;
    flex-wrap: wrap;
}

.list article > figure {
    display: flex;
    width: auto;
    height: 150px;
    justify-content: center;
}

/* .list article img {
    object-fit: contain;
} */

.list article > h1 {
    width: 20%;
    font-family: var(--font-fredoka);
    font-size: var(--font-md);
    margin: var(--space-sm);
}

.list table {
    width: 35%;
    margin-bottom: var(--space-ss);
}

.list tr > th {
    color: var(--gray-500);
    padding: var(--space-ss) 0;
}

.list tr > td {
    text-align: center;
}

.list footer {
    min-width: 20%;
}

.list footer > a:last-child {
    margin-top: var(--space-ss);
}

@media screen and (max-width: 1630px) {

    .list article > figure {
        width: 25%;
    }

    .list article > h1 {
        width: 30%;
    }

    .list table {
        width: 35%;
    }    
    
    .list footer {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width: 1365px) {

    .list article > figure {
        width: 25%;
    }

    .list article > h1 {
        width: 60%;
    }

    .list table {
        width: 50%;
    }

    .list footer {
        display: flex;
        flex-direction: column;
        width: 45%;
    }
}

@media screen and (max-width: 1305px) {
    
    .list article {
        display: flex;
        flex-direction: row;
    }

    .list article > figure {
        width: 15%;
    }

    .list article > h1 {
        width: 25%;
    }

    .list table {
        width: 30%;
    }

    .list footer {
        display: flex;
        flex-direction: column;
        /*align-items: baseline;*/
        width: 25%;
    }    
}

@media screen and (max-width: 1090px) {
    
    .list article > figure {
        width: 25%;
    }

    .list article > h1 {
        width: 30%;
    }

    .list table {
        width: 35%;
    }    
    
    .list footer {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-evenly;
        width: 100%;
    }   
}

@media screen and (max-width: 805px) {

    .list article > figure {
        width: 25%;
    }

    .list article > h1 {
        width: 60%;
    }

    .list table {
        width: 50%;
    }

    .list footer {
        display: flex;
        flex-direction: column;
        width: 45%;
    }
}

@media screen and (max-width: 660px) {

    .list article {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .list article > figure {
        display: flex;
        width: auto;
        height: 150px;
        justify-content: center;
    }

    .list article > h1 {
        text-align: center;
        width: 100%;
    }

    .list table {
        width: 100%;
    }

    .list footer {
        flex-direction: row;
        width: 100%;
    }    
}


@media screen and (max-width: 570px) {

    .list footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }    
}