.msg_error {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffb2b2;
    color: #e30613;;
    border: 1px solid #b70000;
    font-weight: bold;
}

.msg_success {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #83e096;
    color: rgb(12, 132, 30);;
    border: 1px solid #038e11;
    font-weight: bold;
}