{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}

    <main>

        <section class="">
            <h1 class="title">Login</h1>
            <form action="" method="post">
                <label for="nickname">
                    <input type="text" class="rechercher" name="nickname" placeholder="Utilisateur">
                </label>
                <label for="">
                    <input type="password" class="rechercher" name="password" placeholder="Mot de passe">
                </label>
                <button type="submit" class="bt bt-md bt-bg-red"><i class="material-icons">search</i></button>
            </form>
        </header>

    </main>

{% endblock %}
