
{% if session.error is defined %}
    <div class="msg_error">
        {% if session.error is iterable %}
            <p><strong>LES ERREURS:</strong></p>
            {% for error in session.error %}
            <p>- {{ error }}</p>
            {% endfor %}
        {% else %}
            <p><strong>LE ERREUR:</strong> {{ session.error }}</p>
        {% endif %}
    </div>
    
{% endif %}

{% if session.success is defined %}
    <div class="msg_success">
        <p>{{ session.success }}</p>
    </div>
{% endif %}
